<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duang</title>
    <link href="/static/vim.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1 style="text-align: center">Duang</h1>
<div style="background-color: #e5e5e5;height: 1px;width: 100%"></div>

<div style="display: flex;flex-direction: column;margin-left: 20%;margin-right: 20%">
    <div style="display: flex;flex-direction: row; justify-content: center;align-items: center;margin-top: 30px;margin-bottom: 30px">
        <img src="{{ emoji }}" style="width: 30px;height: 30px;" onclick="window.open('/detail/{{ item.id }}')">
        <div style="text-align: center;font-size: 30px;color: #333333;margin-left: 10px">{{ title }}</div>
    </div>
    <div>
        {{ content|safe }}
    </div>
</div>

</body>
</html>